#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

mainmenu "Project Configuration"

config LV_DEMOS
    bool
    default y
    select HAVE_LCD
    select HAVE_GRAPHICS

config CMAKE_SOURCE_DIR
	string
	option env="CMAKE_SOURCE_DIR"

config LCD_ENABLE
    def_bool y

config LCD_WIDTH
    default "1280"

config LCD_HEIGHT
    default "480"

config LCD_PITCH
    default "2560"

config LCD_INIT_SCRIPT
    default "LVDS_1280_480_VESA24bits_new.txt"
    
config I2S_ENABLE
    def_bool y

config I2S_SPDIF_ENABLE
    def_bool n

config FFMPEG_H264_SW
    def_bool y

config BUILD_LVGL
    def_bool y

config BUILD_FREETYPE
    def_bool y

config BUILD_ZLIB
    def_bool y

config WIN32_SIMULATOR
    def_bool y

source "$CMAKE_SOURCE_DIR/sdk/Kconfig"

menu "LVGL Demos"

choice
    prompt "Demo App"
    default DEMO_BENCHMARK

config DEMO_WIDGETS
    bool "DEMO_WIDGETS"

config DEMO_BENCHMARK
    bool "DEMO_BENCHMARK"

config DEMO_STRESS
    bool "DEMO_STRESS"

config DEMO_KEYPAD_AND_ENCODER
    bool "DEMO_KEYPAD_AND_ENCODER"

config DEMO_MUSIC
    bool "DEMO_MUSIC"

config DEMO_RENDER
    bool "DEMO_RENDER"

config DEMO_VECTOR_GRAPHIC
    bool "DEMO_VECTOR_GRAPHIC"

endchoice

endmenu
